@charset "utf-8";
#logo1 {
	width: 500px;
	position: absolute;
    right: 32%;
}
#about {
	position: absolute;
	width: 30%;
	left: 10%;
	top: 40%;
	border: thin inset #000;
	text-align: center;
	padding: 1%;
}
#gal_btnDiv {
	top: 40%;
	right: 3%;
	position: absolute;
}

#gal_btn {
	height: 20%;
	width: 60%;

}



#header {
	width: 100%;
	height: 30%;
	margin: auto;
}
